@using BrotatoServer.Models.JSON;
@using BrotatoServer.Utilities;

<StatContainer RunData="@RunData" />

<p>
    Character:
    <CharacterView Character="@RunData.Character" CharacterData="@RunData.Items.Values.FirstOrDefault(item => item.Id == RunData.Character)"></CharacterView>
</p>


<p>Weapons:</p>
@foreach (var (key, weapon) in RunData.Weapons)
{
    <WeaponView @key="key" Weapon="@weapon" />
}

<p>Items:</p>

@foreach (var item in RunData.Items
    .AsEnumerable()
    .Reverse()
    .Where(i => i.Value.Id.StartsWith("item_")))
{
    <ItemView @key="item.Key" Item="@item.Value" />
}


@code {
    [Parameter]
    public RunData RunData { get; set; }
}