@using BrotatoServer.Data.Game;
@using BrotatoServer.Models.JSON

@if (Simple)
{
    <div class="weapon inventory @TierClass">
        <a href="@WikiUrl" target="_blank">
            <img src="@Icon" title="@Name" alt="@Name" />
        </a>
    </div>
}
else
{
    <Popover Class="@("inventory-popup " + TierClass)">
        <TriggerContent>
            <div class="weapon inventory @TierClass">
                <a href="@WikiUrl" target="_blank">
                    <img src="@Icon" title="@Name" alt="@Name" />
                </a>
            </div>
        </TriggerContent>
        <PopoverContent>
            <div class="title">
                @Name
            </div>
            @Weapon.Hover.ParseBBCodeText()
        </PopoverContent>
    </Popover>
}

@code {
    [Parameter, EditorRequired]
    public ItemData Weapon { get; set; } = null!;
    
    [Parameter]
    public bool Simple { get; set; } = false;

    private int Tier => Weapon.Tier;
    private string TierClass => $"tier-{Weapon.Tier}";
    private string Name => Weapon.Name + Weapon.Tier switch
    {
        1 => " II",
        2 => " III",
        3 => " IV",
        _ => "",
    };
    private string WikiUrl => "https://brotato.wiki.spellsandguns.com/" + Weapon.Name.Replace(' ', '_');
    private string? Icon { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Assets.Weapons.TryGetValue(Weapon.Id, out var assetWeapon))
        {
            Icon = assetWeapon.Icon.GetAssetPath();
        }
    }
}
